<!DOCTYPE html>
<html ng-app="itunes_finder">

<head>

	<meta charset="utf-8" >

	<title>iTunes Finder - 2015</title>

	<script src="angular.min.js"></script>
	<!-- <script src="angular-filter.min.js"></script> -->
	<script src="finder.js"></script>

	<script src="tooltip.js" type="text/javascript"></script>
	<link href="yktooltip.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="main.css">

</head>

<body ng-controller="FinderController">

<div class="if-center-coverall yk-large-padding yk-xlarge-padding-bottom">
	<div class="content-header yk-large-padding">

		<input class="yk-search-box" ng-model="keyword_title">

		<button class="btn" ng-click="search()">Go</button>

	</div>
	<div class="content-container-small">
		 
	</div>
</div>

<div class="if-center">

	<hr class="header-hr" />

	<div ng-controller="ResultController">

		<div ng-if="!results.length">
			<h1 class="yk-large-padding yk-large-slogan-itunes">No result to show.</h1>
		</div>

		<div class="yk-grid-container yk-small-font">
			<div class="yk-grid-row" ng-repeat="resultg in results" ng-if="$index%5==0">
				<div class="yk-grid-col-def" ng-repeat="result in [results[$index], results[$index+1], results[$index+2], results[$index+3], results[$index+4]]">
					<div class="yk-overlayed-image">
						<a href="{{ result.collectionViewUrl }}">
							<img class="yk-itunes-album" ng-src="{{ result.artworkUrl100 }}" title="{{ result.collectionName }}" tooltiped yk-tooltip="<a href={{ get_hd_artwork(result.artworkUrl100) }}>HD Artwork</a>">
						</a>
					</div>
					<div><a class="trivial" href="{{ result.trackViewUrl }}">{{ result.trackName }}</a></div>
					<div><a class="trivialtrivial" href="{{ result.artistViewUrl }}">{{ result.artistName }}</a></div>
					<div>
						{{ result.primaryGenreName }}
					</div>
				</div>
			</div>
		</div>

<!-- 		<ul>
			<li ng-repeat="result in results">
				<img ng-src="{{ result.artworkUrl100 }}">
				<a href="{{ result.trackViewUrl }}">{{ result.trackName }}</a> @ <a href="{{ result.collectionViewUrl }}">{{ result.collectionName }}</a>
				by <a href="{{ result.artistViewUrl }}">{{ result.artistName }}</a>
				{{ result.primaryGenreName }}
			</li>
		</ul> -->
	</div>

	<hr />

</div>
</body>

</html>